@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/* img {
  max-width: 100%;
  min-width: 100%;
} */

body {
  font-family: "Golos Text", sans-serif;
  overflow-x: hidden !important;
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
